@model SportCentre.MVC.Models.Client

@{
    ViewBag.Title = "Details";

    var subscription = ViewBag.Subscription as SportCentre.MVC.Models.Subscription;
    var lessons = ViewBag.Lessons as IEnumerable<SportCentre.MVC.Models.Lesson>;
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>

<h4>Subscription</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Type")
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th>
            @Html.DisplayName("Validity")
        </th>
        <th></th>
    </tr>
   
    <tr>
        <td>
            @subscription.Type
        </td>
        <td>
            @subscription.Price
        </td>
        <td>
            @subscription.Validity
        </td>
    </tr>

</table>

<h4>Lessons</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Beginning")
        </th>
        <th>
            @Html.DisplayName("Duration")
        </th>
        <th>
            @Html.DisplayName("Group Name")
        </th>
        <th>
            @Html.DisplayName("Gym Name")
        </th>
        <th>
            @Html.DisplayName("Trainer last name")
        </th>
        <th></th>
    </tr>

    @foreach (var item in lessons)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Beginning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gym.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.LastName)
            </td>
        </tr>
    }

</table>
